.center {
    background-repeat:no-repeat;
    object-fit: cover;
    height: 100vh;
  }
  
  .left {
       background-repeat:no-repeat;
      object-fit: cover;
      height: 100vh;
  }
  
  .right {
      text-align: center;
      background-color: white;
      object-fit: cover;
      height: 100vh;
  }