.inputText--primary{
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 3px solid #DEF2F1;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #2B7A78;
    margin-top: 1em;
    margin-bottom: 1em;
}